<!DOCTYPE html>
<html>
    <head>
        <title>Suma</title>
        <meta charset="utf-8"/>
        <link rel="icon" type="img/png" >
    </head>
    <body>
        <h1>Suma</h1>
        <center>
        <p>Selecione la respuesta </p>
        <img src="img/Sin-título-2.png" width="150" height="150"/>
        <img src="img/Sin-título-13.png" width="150" height="150"/>
        <img src="img/Sin-título-7.png" width="150" height="150"/>
        <img src="img/Sin-título-12.png" width="150" height="150"/>
    </center>
    <center>
        <img src="img/Sin-título-5.png" width="150" height="150"/>
        <a href="Ganador.html"> <img src="img/Sin-título-9.png" width="150" height="150"/></a>
        <img src="img/Sin-título-10.png" width="150" height="150"/>
    </center>
    </body>
</html>