<!DOCTYPE html>
<html>
    <head>
        <title>Suma</title>
        <meta charset="utf-8"/>
        <link rel="icon" type="img/png" >
    </head>
    <body>
        <style>
        body{
          background-image: url("/img/fondos/FondoAlternativo2.jpg");
          background-size: 100% 100%;
          background-attachment: fixed;
        }
        </style>
        <h1>Suma</h1>
        <center>
        <p>Selecione la respuesta </p>
        <img src="/img/Numeros/sin_titulo_2.png" width="150" height="150"/>
        <img src="/img/Numeros/Sin-título-13.png" width="150" height="150"/>
        <img src="/img/Numeros/Sin-título-7.png" width="150" height="150"/>
        <img src="/img/Numeros/Sin-título-12.png" width="150" height="150"/>
    </center>
    <center>
        <img src="/img/Numeros/Sin-título-5.png" width="150" height="150"/>
        <a href="/juegos/operaciones/Suma/2/ganador" onclick="esCorrecto()"> <img src="/img/Numeros/Sin-título-9.png" width="150" height="150"/></a>
        <img src="/img/Numeros/Sin-título-10.png" width="150" height="150"/>
        <script>
            function esCorrecto(){
                fetch('/juegos/correcto', {
                  method: 'POST',
                });
            }
        </script>
    </center>
    </body>
</html>
