<section class="text-light" style="background-image: url(/img/fondos/FondoAlternativo2.jpg);">
    <div class="container-fluid">
                
                <div class="row align-items-center text-center" style="
                                                min-height: 100vh; 
                                                font-family: Ropa Sans;
                                                font-style: normal;
                                                font-weight: normal;
                                                line-height: 107px;
                                                text-align: center;
                                                color: black;
                                                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">
                                <div class="col-12">
                                        <h1>ROMPECABEZAS</h1>
                                </div>
                        <div class="row">
                                <div class="col-12 col-md-4">
                                        <img src="/img/rompecabezas/elsa1/leon.png" alt="leon">
                                        <a href="/juegos/rompecabezas/leon">
                                                <button type="button" class="btn btn-danger" id="cambiar_avatar" style="font-size: 20px;">IR AL ROMPECABEZA</button>
                                        </a>
                                </div>
                                <div class="col-12 col-md-4">
                                        <img src="/img/rompecabezas/elsa2/asdd.png" alt="elefante">
                                        <a href="/juegos/rompecabezas/elefante">
                                                <button type="button" class="btn btn-danger" id="cambiar_avatar" style="font-size: 20px;">IR AL ROMPECABEZA</button>
                                        </a>
                                </div>
                                <div class="col-12 col-md-4">
                                        <img src="/img/rompecabezas/pikachu/pikachu_aux.png" alt="pikachu">
                                        <a href="/juegos/rompecabezas/pikachu">
                                                <button type="button" class="btn btn-danger" id="cambiar_avatar" style="font-size: 20px;">IR AL ROMPECABEZA</button>
                                        </a>
                                </div>
                                <!--<div class="col-12 col-md-4">
                                        <img src="img/avatares/nivel_1/nivel1_4.png" alt="nivel1_4">
                                        <a href="">
                                                <button type="button" class="btn btn-danger" id="cambiar_avatar" style="font-size: 20px;">CAMBIAR AVATAR</button>
                                        </a>
                                </div>
                                <div class="col-12 col-md-4">
                                        <img src="img/avatares/nivel_1/nivel1_5.png" alt="nivel1_5">
                                        <a href="">
                                                <button type="button" class="btn btn-danger" id="cambiar_avatar" style="font-size: 20px;">CAMBIAR AVATAR</button>
                                        </a>
                                </div>
                                <div class="col-12 col-md-4">
                                        <img src="img/avatares/nivel_1/nivel1_6.png" alt="nivel1_6">
                                        <a href="">
                                                <button type="button" class="btn btn-danger" id="cambiar_avatar" style="font-size: 20px;">CAMBIAR AVATAR</button>
                                        </a>
                                </div>-->
                        </div>
                </div>
             
    </div>
</section>

<footer class="text-light">
    <div class="container-fluid">
        <div class="container">
            <div class="row text-center py-4 align-items-center">
                <div class="col-12 col-md-6 py-3">
                    <h2>contáctenos</h2>
                    <p class="ml-5">Telf: 921301340</p>
                    <p class="ml-5">Telf: 943285921</p>
                    <p class="ml-5">Correos:</p>
                    <p class="ml-5">diego.montalvo@unmsm.edu.pe</p>
                    <p class="ml-5">luiggi.pasache@unmsm.edu.pe</p>
                </div>
                <div class="col-12 col-md-6 py-3">
                    <img src="img/footer-logo.png" alt="EDUKIDS" width="35%">
                </div>
            </div>
        </div>
    </div>
    <div class="contaier-fluid border-top border-1 border-white">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center py-3">
                    <p class="m-0">UNMSM - EduKIDS, Derechos eservados</p>
                </div>
            </div>
        </div>
    </div>
</footer>