<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title> Puzzle</title>
	<link rel="stylesheet" href="../../css/rompecabezas/elsa2.css">
</head>
<body>
	<svg width="600" height="600" id="entorno">
		<g id="fondo"><image xlink:href="../../img/rompecabezas/elsa2/asdd.png" width="400" height="400" x="200" y="100"></g>
	<g class="padre" id="0"><image xlink:href="../../img/rompecabezas/elsa2/1.png" class="movil"></g>
	<g class="padre" id="1"><image xlink:href="../../img/rompecabezas/elsa2/2.png" class="movil"></g>
	<g class="padre" id="2"><image xlink:href="../../img/rompecabezas/elsa2/3.png" class="movil"></g>
	<g class="padre" id="3"><image xlink:href="../../img/rompecabezas/elsa2/4.png" class="movil"></g>
	<g class="padre" id="4"><image xlink:href="../../img/rompecabezas/elsa2/5.png" class="movil"></g>
	<g class="padre" id="5"><image xlink:href="../../img/rompecabezas/elsa2/6.png" class="movil"></g>
	<g class="padre" id="6"><image xlink:href="../../img/rompecabezas/elsa2/7.png" class="movil"></g>
	<g class="padre" id="7"><image xlink:href="../../img/rompecabezas/elsa2/8.png" class="movil"></g>
	<g class="padre" id="8"><image xlink:href="../../img/rompecabezas/elsa2/9.png" class="movil"></g>
</svg>
<audio id="win" src="../../media/win.mp3"></audio>
<script type="text/javascript" src="../../js/rompecabezas/elsa2.js"></script>
</body>