<body>
    <style>
        body{
          background-image: url("/img/fondos/FondoAlternativo2.jpg");
          background-size: 100% 100%;
          background-attachment: fixed;
        }
    </style>
    <div class="col-md-4" style="width: 70px; margin: 20px 0px 0px 280px;">
        <img src="/img/rompecabezas/instruccion_rompecabezas.png" alt="instruccion_rompecabezas">
    </div>
    <button type="button" onclick="location.href='/juegos/rompecabezas/catalogo'" class="btn btn-danger"s id="instruccion_rompecabezas" style="font-size: 20px; margin: 20px 0px 20px 640px;">Comenzar</button>
</body>
