<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Jirafa Puzzle</title>
	<link rel="stylesheet" href="../../css/rompecabezas/jirafa.css">
</head>
<body style="background-image: url(/img/fondos/FondoAlternativo2.jpg);">
	<svg width="600" height="600" id="entorno">
		<g id="fondo"><image xlink:href="img2/jirafa-HD.png" width="400" height="400" x="200" y="100"></g>
	<g class="padre" id="0"><image xlink:href="../../img/rompecabezas/Jirafa/1 (1).png" class="movil"></g>
	<g class="padre" id="1"><image xlink:href="../../img/rompecabezas/Jirafa/2 (1).png" class="movil"></g>
	<g class="padre" id="2"><image xlink:href="../../img/rompecabezas/Jirafa/3 (1).png" class="movil"></g>
	<g class="padre" id="3"><image xlink:href="../../img/rompecabezas/Jirafa/4 (1).png" class="movil"></g>
	<g class="padre" id="4"><image xlink:href="../../img/rompecabezas/Jirafa/5 (1).png" class="movil"></g>
	<g class="padre" id="5"><image xlink:href="../../img/rompecabezas/Jirafa/6 (1).png" class="movil"></g>
	<g class="padre" id="6"><image xlink:href="../../img/rompecabezas/Jirafa/7 (1).png" class="movil"></g>
	<g class="padre" id="7"><image xlink:href="../../img/rompecabezas/Jirafa/8 (1).png" class="movil"></g>
	<g class="padre" id="8"><image xlink:href="../../img/rompecabezas/Jirafa/9 (1).png" class="movil"></g>
</svg>
<audio id="win" src="media/win.mp3"></audio>
	
<script type="text/javascript" src="../../js/rompecabezas/jirafa.js"></script>
</body>
