<body>
    <style>
        body{
          background-image: url("/img/fondos/FondoAlternativo2.jpg");
          background-size: 100% 100%;
          background-attachment: fixed;
        }
    </style>
    <div class="col-md-4" style="width: 70px; margin: 20px 0px 0px 280px;">
        <img src="/img/preguntas/instruccion_pregunta.png" alt="instruccion_pregunta">
    </div>
    <button type="button" onclick="location.href='/juegos/preguntas/generalidades'" class="btn btn-danger" id="instruccion_pregunta" style="font-size: 20px; margin: 20px 0px 20px 640px;">Comenzar</button>
</body>
