<!DOCTYPE html>
<html>
    <head>
        <title>Resta</title>
        <meta charset="utf-8"/>
        <link rel="icon" type="img/png" >
    </head>
    <body>
        <h1>Resta </h1>
        <center>
        <p>Selecione la respuesta </p>
        <img src="img/Sin-título-6.png" width="150" height="150"/>
        <img src="img/Sin-título-14.png" width="150" height="150"/>
        <img src="img/Sin-título-4.png" width="150" height="150"/>
        <img src="img/Sin-título-12.png" width="150" height="150"/>
    </center>
    <center>
        <img src="img/Sin-título-3.png" width="150" height="150"/>
        <a href="Ganador.html"> <img src="img/Sin-título-2.png" width="150" height="150"/></a>
        <img src="img/Sin-título-5.png" width="150" height="150"/>
    </center>
    </body>
</html>