<html>
    <head>
        <title>Suma</title>
        <meta charset="utf-8"/>
        
    </head>
    <body>
        <style>
            body{
            background-image: url("/img/fondos/FondoAlternativo2.jpg");
            background-size: 100% 100%;
            background-attachment: fixed;
            }
        </style>
        <div class="row">      
            <div class="offset-4 col-4 py-4">
                <h1>Felicidades ganaste el juego </h1>
            </div>
        </div>
        <div class="row">
            <div class="offset-4 col-6">
                <img width="400em;" height="350em;" src="/img/Numeros/Sin-título-6.png"/>
            </div>
        </div>
    </body>
</html>