<!DOCTYPE html>
<html>
    
    <body>
        <center>
            <div class="row col-12">
                <div class="offset-4 col-md-4">
                    <h1>Suma</h1>
                </div>
            </div>
        </center>

        <style>
        body{
          background-image: url("/img/fondos/FondoAlternativo2.jpg");
          background-size: 100% 100%;
          background-attachment: fixed;
        }
        </style>
        <center>
        <p>Selecione la respuesta </p>
        <img src="/img/Numeros/sin_titulo_2.png" width="150" height="150"/>
        <img src="/img/Numeros/Sin-título-13.png" width="150" height="150"/>
        <img src="/img/Numeros/Sin-título-4.png" width="150" height="150"/>
        <img src="/img/Numeros/Sin-título-12.png" width="150" height="150"/>
    </center>
    <center style="margin: 40px 0px 0px 0px;">
        <img src="/img/Numeros/Sin-título-3.png" width="150" height="150"/>
        <a href="/juegos/operaciones/Suma/1/ganador"> <img src="/img/Numeros/Sin-título-6.png" width="150" height="150"/></a>
        <img src="/img/Numeros/Sin-título-9.png" width="150" height="150"/>
    </center>
    </body>
</html>