<body>
    <style>
        body{
          background-image: url("/img/fondos/FondoAlternativo2.jpg");
          background-size: 100% 100%;
          background-attachment: fixed;
        }
    </style>
    <div class="col-md-4" style="width: 50px; margin: 20px 0px 0px 280px;">
        <img src="/img/Numeros/suma-resta_instruccion.png" alt="instruccion_pregunta" width="700em;" height="500em;">
    </div>
    <button type="button" onclick="location.href='/juegos/operaciones/suma/1'" class="btn btn-danger" id="instruccion_pregunta" style="font-size: 20px; margin: 20px 0px 20px 560px;">Comenzar</button>
</body>
