<main class="text-light">
        <div class="container-fluid">

                <div class="row align-items-center text-center" style="
                                                min-height: 100vh; 
                                                font-family: Ropa Sans;
                                                font-style: normal;
                                                font-weight: normal;
                                                line-height: 107px;
                                                text-align: center;
                                                color: black;
                                                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">
                        {{#gte user.lvl 1}}
                        <div class="col-12">
                                <h1>TIENDA DE AVATARES</h1>
                                <h2>NIVEL 1</h2>
                        </div>
                        <div class="row">
                                <div class="col-12 col-md-4">
                                        <img src="img/avatares/nivel_1/nivel1_1.png" alt="nivel1_1" id="nivel1_1">
                
                                                <button type="button" value="img/avatares/nivel_1/nivel1_1.png"
                                                        class="btn btn-danger" id="cambiar_avatar"
                                                        style="font-size: 20px;">CAMBIAR AVATAR</button>
                
                                </div>
                                <div class="col-12 col-md-4">
                                        <img src="img/avatares/nivel_1/nivel1_2.png" alt="nivel1_2" id="nivel1_2">
                                                <button type="button" value="img/avatares/nivel_1/nivel1_2.png"
                                                        class="btn btn-danger" id="cambiar_avatar"
                                                        style="font-size: 20px;">CAMBIAR AVATAR</button>
                                
                                </div>
                                <div class="col-12 col-md-4">
                                        <img src="img/avatares/nivel_1/nivel1_3.png" alt="nivel1_3" id="nivel1_3">
                                                <button type="button" value="img/avatares/nivel_1/nivel1_3.png"
                                                        class="btn btn-danger" id="cambiar_avatar"
                                                        style="font-size: 20px;">CAMBIAR AVATAR</button>
                                </div>
                                <div class="col-12 col-md-4">
                                        <img src="img/avatares/nivel_1/nivel1_4.png" alt="nivel1_4" id="nivel1_4">
                                                <button type="button" value="img/avatares/nivel_1/nivel1_4.png"
                                                        class="btn btn-danger" id="cambiar_avatar"
                                                        style="font-size: 20px;">CAMBIAR AVATAR</button>
                                </div>
                                <div class="col-12 col-md-4">
                                        <img src="img/avatares/nivel_1/nivel1_5.png" alt="nivel1_5" id="nivel1_5">
                                                <button type="button" value="img/avatares/nivel_1/nivel1_5.png"
                                                        class="btn btn-danger" id="cambiar_avatar"
                                                        style="font-size: 20px;">CAMBIAR AVATAR</button>
                                </div>
                                <div class="col-12 col-md-4">
                                        <img src="img/avatares/nivel_1/nivel1_6.png" alt="nivel1_6" id="nivel1_6">
                                                <button type="button" value="img/avatares/nivel_1/nivel1_6.png"
                                                        class="btn btn-danger" id="cambiar_avatar"
                                                        style="font-size: 20px;">CAMBIAR AVATAR</button>
                                </div>
                        </div>
                        {{/gte}}
                        {{#gte user.lvl 2}}
                        <div class="row">
                                <h2>NIVEL 2</h2>
                        </div>

                        <div class="row">
                                <div class="col-12 col-md-4">
                                        <img src="img/avatares/nivel_2/nivel2_1.png" alt="nivel2_1" id="nivel2_1">
                                                <button type="button" value="img/avatares/nivel_2/nivel2_1.png"
                                                        class="btn btn-danger" id="cambiar_avatar"
                                                        style="font-size: 20px;">CAMBIAR AVATAR</button>
                                </div>
                                <div class="col-12 col-md-4">
                                        <img src="img/avatares/nivel_2/nivel2_2.png" alt="nivel2_2" id="nivel2_2">
                      
                                                <button type="button" value="img/avatares/nivel_2/nivel2_2.png"
                                                        class="btn btn-danger" id="cambiar_avatar"
                                                        style="font-size: 20px;">CAMBIAR AVATAR</button>
            
                                </div>
                                <div class="col-12 col-md-4">
                                        <img src="img/avatares/nivel_2/nivel2_3.png" alt="nivel2_3" id="nivel2_3">
                      
                                                <button type="button" value="img/avatares/nivel_2/nivel2_3.png"
                                                        class="btn btn-danger" id="cambiar_avatar"
                                                        style="font-size: 20px;">CAMBIAR AVATAR</button>
               
                                </div>
                                <div class="col-12 col-md-4">
                                        <img src="img/avatares/nivel_2/nivel2_4.png" alt="nivel2_4" id="nivel2_4">
               
                                                <button type="button" value="img/avatares/nivel_2/nivel2_4.png"
                                                        class="btn btn-danger" id="cambiar_avatar"
                                                        style="font-size: 20px;">CAMBIAR AVATAR</button>
          
                                </div>
                                <div class="col-12 col-md-4">
                                        <img src="img/avatares/nivel_2/nivel2_5.png" alt="nivel2_5" id="nivel2_5">
                      
                                                <button type="button" value="img/avatares/nivel_2/nivel2_5.png"
                                                        class="btn btn-danger" id="cambiar_avatar"
                                                        style="font-size: 20px;">CAMBIAR AVATAR</button>
                
                                </div>
                                <div class="col-12 col-md-4">
                                        <img src="img/avatares/nivel_2/nivel2_6.png" alt="nivel2_6" id="nivel2_6">
                             
                                                <button type="button" value="img/avatares/nivel_2/nivel2_6.png"
                                                        class="btn btn-danger" id="cambiar_avatar"
                                                        style="font-size: 20px;">CAMBIAR AVATAR</button>
                    
                                </div>
                        </div>
                        {{/gte}}
                        {{#gte user.lvl 3}}
                        <div class="row">
                                <h2>NIVEL 3</h2>
                        </div>

                        <div class="row">
                                <div class="col-12 col-md-4">
                                        <img src="img/avatares/nivel_3/nivel3_1.png" alt="nivel3_1" id="nivel3_1">
                           
                                                <button type="button" value="img/avatares/nivel_3/nivel3_1.png"
                                                        class="btn btn-danger" id="cambiar_avatar"
                                                        style="font-size: 20px;">CAMBIAR AVATAR</button>
               
                                </div>
                                <div class="col-12 col-md-4">
                                        <img src="img/avatares/nivel_3/nivel3_2.png" alt="nivel3_2" id="nivel3_2">
                                       
                                                <button type="button" value="img/avatares/nivel_3/nivel3_2.png"
                                                        class="btn btn-danger" id="cambiar_avatar"
                                                        style="font-size: 20px;">CAMBIAR AVATAR</button>
                                   
                                </div>
                                <div class="col-12 col-md-4">
                                        <img src="img/avatares/nivel_3/nivel3_3.png" alt="nivel3_3" id="nivel3_3">
                                       
                                                <button type="button" value="img/avatares/nivel_3/nivel3_3.png"
                                                        class="btn btn-danger" id="cambiar_avatar"
                                                        style="font-size: 20px;">CAMBIAR AVATAR</button>
                                   
                                </div>
                                <div class="col-12 col-md-4">
                                        <img src="img/avatares/nivel_3/nivel3_4.png" alt="nivel3_4" id="nivel3_4">
                                    
                                                <button type="button" value="img/avatares/nivel_3/nivel3_4.png"
                                                        class="btn btn-danger" id="cambiar_avatar"
                                                        style="font-size: 20px;">CAMBIAR AVATAR</button>
                                     
                                </div>
                                <div class="col-12 col-md-4">
                                        <img src="img/avatares/nivel_3/nivel3_5.png" alt="nivel3_5" id="nivel3_5">
                                       
                                                <button type="button" value="img/avatares/nivel_3/nivel3_5.png"
                                                        class="btn btn-danger" id="cambiar_avatar"
                                                        style="font-size: 20px;">CAMBIAR AVATAR</button>
                                       
                                </div>
                                <div class="col-12 col-md-4">
                                        <img src="img/avatares/nivel_3/nivel3_6.png" alt="nivel3_6" id="nivel3_6">
                                        
                                                <button type="button" value="img/avatares/nivel_3/nivel3_6.png"
                                                        class="btn btn-danger" id="cambiar_avatar"
                                                        style="font-size: 20px;">CAMBIAR AVATAR</button>
                                        
                                </div>
                        </div>
                        {{/gte}}
                        {{#gte user.lvl 4}}
                        <div class="row">
                                <h2>NIVEL 4</h2>
                        </div>

                        <div class="row">
                                <div class="col-12 col-md-4">
                                        <img src="img/avatares/nivel_4/nivel4_1.png" alt="nivel4_1" id="nivel4_1">
                                        
                                                <button type="button" value="img/avatares/nivel_4/nivel4_1.png"
                                                        class="btn btn-danger" id="cambiar_avatar"
                                                        style="font-size: 20px;">CAMBIAR AVATAR</button>
                                        
                                </div>
                                <div class="col-12 col-md-4">
                                        <img src="img/avatares/nivel_4/nivel4_2.png" alt="nivel4_2" id="nivel4_2">
                                        
                                                <button type="button" value="img/avatares/nivel_4/nivel4_2.png"
                                                        class="btn btn-danger" id="cambiar_avatar"
                                                        style="font-size: 20px;">CAMBIAR AVATAR</button>
                                        
                                </div>
                                <div class="col-12 col-md-4">
                                        <img src="img/avatares/nivel_4/nivel4_3.png" alt="nivel4_3" id="nivel4_3">
                                        
                                                <button type="button" value="img/avatares/nivel_4/nivel4_3.png"
                                                        class="btn btn-danger" id="cambiar_avatar"
                                                        style="font-size: 20px;">CAMBIAR AVATAR</button>
                                        
                                </div>
                                <div class="col-12 col-md-4">
                                        <img src="img/avatares/nivel_4/nivel4_4.png" alt="nivel4_4" id="nivel4_4">
                                        
                                                <button type="button" value="img/avatares/nivel_4/nivel4_4.png"
                                                        class="btn btn-danger" id="cambiar_avatar"
                                                        style="font-size: 20px;">CAMBIAR AVATAR</button>
                                        
                                </div>
                                <div class="col-12 col-md-4">
                                        <img src="img/avatares/nivel_4/nivel4_5.png" alt="nivel4_5" id="nivel4_5">
                                        
                                                <button type="button" value="img/avatares/nivel_4/nivel4_5.png"
                                                        class="btn btn-danger" id="cambiar_avatar"
                                                        style="font-size: 20px;">CAMBIAR AVATAR</button>
                                        
                                </div>
                                <div class="col-12 col-md-4">
                                        <img src="img/avatares/nivel_4/nivel4_6.png" alt="nivel4_6" id="nivel4_6">
                                        
                                                <button type="button" value="img/avatares/nivel_4/nivel4_6.png"
                                                        class="btn btn-danger" id="cambiar_avatar"
                                                        style="font-size: 20px;">CAMBIAR AVATAR</button>
                                        
                                </div>
                        </div>
                        {{/gte}}
                </div>

        </div>
</main>

<footer class="text-light">
        <div class="container-fluid">
                <div class="container">
                        <div class="row text-center py-4 align-items-center">
                                <div class="col-12 col-md-6 py-3">
                                        <h2>contáctenos</h2>
                                        <p class="ml-5">Telf: 921301340</p>
                                        <p class="ml-5">Telf: 943285921</p>
                                        <p class="ml-5">Correos:</p>
                                        <p class="ml-5">diego.montalvo@unmsm.edu.pe</p>
                                        <p class="ml-5">luiggi.pasache@unmsm.edu.pe</p>
                                </div>
                                <div class="col-12 col-md-6 py-3">
                                        <img src="img/footer-logo.png" class="imagen" alt="EDUKIDS" width="35%">
                                </div>
                        </div>
                </div>
        </div>
        <div class="contaier-fluid border-top border-1 border-white">
                <div class="container">
                        <div class="row">
                                <div class="col-12 text-center py-3">
                                        <p class="m-0">UNMSM - EduKIDS, Derechos eservados</p>
                                </div>
                        </div>
                </div>
        </div>
</footer>

<script>
        const botones = document.getElementsByClassName('btn btn-danger');

        Array.from(botones).forEach(function (currentBtn) {
                let valor = currentBtn.value;
                let id = '{{user.id}}';
                currentBtn.addEventListener('click', (btn) => {
                        //fetch a cambiarAvatar
                        let headersList = {
                                "Accept": "*/*",
                                "Content-Type": "application/x-www-form-urlencoded"
                        }
                        fetch("/juegos/cambiarAvatar", {
                                method: "POST",
                                body:
                                        "id=" + id +
                                        "&img=" + valor, 
                                headers: headersList
                        }).then(function (response) {
                                return response.text();
                        }).then(function (data) {
                                console.log(data);
                        })
                })
        });

</script>
